{{#each this}}
<h3 class="card-title"> {{name}} </h3>
<div class="card">
    <div class="card-body">
        <p class="card-text"><span class="card-text-title">Capital:</span> {{capital}} </p>
        <p class="card-text"><span class="card-text-title">Population:</span> {{population}}</p>
        <p class="card-text"><span class="card-text-title">Languages:</span></p>
        <ul class="list">
            {{#each languages}}
            <li class="list-item">{{this.name}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="card-img">
        <img src="{{flag}}" alt="{{name}}" width="500px">
    </div>
</div>
{{/each}}